style {
    margin: 0%;
    padding: 0%;
}

.rectangle {
    border: 50%;
    height: 60px;
    width: 100%;
    background-color: #25a4d6;
    text-align: left;
    line-height: 1.75;
    font-size: 32px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
  }

.filterT {
  margin-left: 260px;
  margin-right: 800px;
  font-size: 28px;
  text-align: center;
}

#textareaRes {
  margin-top: 30px;
}

#announcementPosted {
  text-align: center;
  font-size: 26px;
  font-family:'Times New Roman', Times, serif;
}

#search {
  border: none;
  background-color: #25a4d6;
  margin-top: 30px;
}

#wholeSearch {
  padding-top: 20%;
  margin-left: -400px;

}

#lable9S, #lable10S, #lable11S, #lable12S {
  font-size: 30px;
}

#typeOfClub, #typeS {
  font-size: 28px;
} 

.catfilterS {
  font-size: 18px;
  padding-left: 900px;
  margin-top: -35px;
}

#catTypeDrop {
  margin-top: -27px;
  margin-left: 770px;
}

#clubTypeDrop {
  margin-top: -19.5px;
  margin-left: 840px;
}

#wholeBody {
   padding: 10px; 
}

